@using MonaWebApp.Models.EntityFramework
@model List<BlogCategory>


@{
    ViewBag.Title = "BlogCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h2>Add Category for Blogs</h2>

<a class="btn btn-primary ml-50 mb-15" href="/Admin/CreateCategory">Create new</a> 

<a class="btn btn-outline-danger ml-50 mb-15 float-right" href="/Admin/Index">Back to Admin Index</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cat in Model)
        {
            <tr>
                <td>@cat.BlogCategoryId</td>
                <td>@cat.BlogCategoryName</td>
                <td><a class="btn btn-success" href="/Admin/Update/@cat.BlogCategoryId">Update</a></td>
                <td><a class="btn btn-danger" href="/Admin/Delete/@cat.BlogCategoryId">Delete</a></td>
            </tr>
        }
    </tbody>

</table>

