
<div class="container col-md-9 d-flex justify-content-between align-self-center mt-150 justify-content-center mx-auto" >
    <div class="row">
        <a class="btn m-3 col-md-3 btn-success" href="/Admin/Blog">Blogs</a>
        <a class="btn m-3 col-md-3 btn-primary" href="/Admin/Blogcategory">Categories</a>
        <a class="btn m-3 col-md-3 btn-info" href="#">Casting</a>
        <a class="btn m-3 col-md-3 btn-warning" href="#">Models </a>
        <a class="btn m-3 col-md-3 btn-danger" href="#">Projects</a>
        <a class="btn m-3 col-md-3 btn-outline-success" href="#">Contacts</a>
    </div>
</div>