
@{
    ViewBag.Title = "_Layout";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Mona - Model Agency HTML5 Template">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Mona - Model Agency HTML5 Template Admin</title>

    <!-- Favicon -->
    <link rel="icon" href="~/Assets/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="~/Assets/style.css">

</head>


<body>

    @RenderBody();
    <!-- ******* All JS ******* -->
    <!-- jQuery js -->
    <script src="~/Assets/js/jquery.min.js"></script>
    <!-- Popper js -->
    <script src="~/Assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="~/Assets/js/bootstrap.min.js"></script>
    <!-- All js -->
    <script src="~/Assets/js/mona.bundle.js"></script>
    <!-- Active js -->
    <script src="~/Assets/js/default-assets/active.js"></script>

</body>

</html>